<%= form_for :contact, url: contacts_path do |f| %>
  <div class="half first-half">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="half">
    <%= f.text_field :surname, placeholder: "Surname" %>
  </div>
  <%= f.text_field :description, placeholder: "Description" %>
  <%= f.text_field :phone_number, placeholder: "Phone Number" %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.text_field :notes, placeholder: "Notes" %>
  
  <%= f.submit %>

<% end %>
