<% content_for :navigation do %>
  <%= link_to '<i class="fa fa-chevron-circle-left fa-lg"></i>'.html_safe,
  contacts_path, class: "nav-button pull-left" %>
  <label><%= @page_title%></label>
  <%= link_to '<i class="fa fa-pencil fa-lg"></i>'.html_safe,
      edit_contact_path, class: "nav-button pull-right" %>
<% end %>
<section class="tag-info">
  <%= @contact.name %> <%= @contact.surname %>
  <%= @contact.description %>
</section>
<section class="contact-info">
  <div class="phone_number">
    <%= @contact.phone_number %>
  </div>
  <div class="email">
    <%= @contact.email %>
  </div>
</section>
<section class="notes">
  <%= @contact.notes %>
</section>
