<section class="tag-info">
  <%= @contact.name %> <%= @contact.surname %>
  <%= @contact.description %>
</section>
<section class="contact-info">
  <div class="phone_number">
    <%= @contact.phone_number %>
  </div>
  <div class="email">
    <%= @contact.email %>
  </div>
</section>
<section class="notes">
  <%= @contact.notes %>
</section>
