<!DOCTYPE html>
<html>
<head>
  <title>Nivnik</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <!-- Optimized mobile viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-navigation">
  <%= yield :navigation %>
</nav>

<main class="main-content">
  <%= yield %>
</main>
<%= javascript_include_tag "application" %>
</body>
</html>
